.web-wrapper {
  min-height: 100vh;
  background: radial-gradient(circle at top, #103c75, #000428 70%);
  font-family: "Press Start 2P", sans-serif; /* optional pixel font */
  color: #f0f0f0;
}

/* Top gaming bar */
.topbar {
  padding: 15px 30px;
  background: #031b39;
  border-bottom: 3px solid #00e4ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoHeading {
  font-size: 24px;
  letter-spacing: 2px;
  text-shadow: 0 0 8px #00e4ff;
  display: flex;
  align-items: center;
  font-style: italic; /* NEW */
}

.circleLogo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #00e4ff;
  color: #031b39;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.nav-link {
  color: #00e4ff;
  text-decoration: underline;
  cursor: pointer;
}

/* Center Section */
.login-section {
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.login-card {
  color: black;
  background: rgb(252, 253, 253);
  border: 2px solid #00e4ff;
  box-shadow: 0 0 25px #00e4ff;
  padding: 50px 40px;
  border-radius: 12px;
  width: 380px;
  text-align: center;
}

/* Text inputs */
.inputField {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 2px solid #00e4ff;
  background: #061b38;
  color: #fff;
  font-size: 14px;
}
.inputField:focus {
  outline: none;
  box-shadow: 0 0 8px #00e4ff;
}

/* Glow buttons */
.login-btn,
.signup-btn {
  padding: 14px;
  width: 100%;
  margin-top: 8px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0 0 14px #00e4ff;
  background: linear-gradient(90deg, #00e4ff, #1b5bff);
  color: #031b39;
  font-weight: bold;
}

.signup-link {
  color: #00e4ff;
  cursor: pointer;
  text-decoration: underline;
  display: inline-block;
  margin-top: 12px;
}

.error {
  color: #ff004f;
  margin-bottom: 12px;
  font-size: 13px;
}
.password-wrapper {
  position: relative;
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  font-size: 20px;
  color: #00e4ff; /* light gaming color */
  cursor: pointer;
}

.github-btn {
  background-color: #24292f;
  color: white;
  border: none;
  padding: 12px 18px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  margin-top: 15px;
  transition: background 0.3s;
}

.github-btn:hover {
  background-color: #000;
}
